@font-face {
  font-family: 'Proxima Nova';
  font-weight: 400;
  src: url(../assets/fonts/proximanova-regular.otf)
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 300;
  src: url(../assets/fonts/proximanova-light.otf)
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 700;
  src: url(../assets/fonts/proximanova-bold.otf)
}